.img{
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #routinesContainer{
    height: 200px;
    width: 700px;
    /* align-content: center; */
    border: 1px solid black;
    overflow: scroll;
    margin: auto;
  }

  #container{
    overflow: scroll;
    /* border: 5px solid red; */
    height: 650px;
  }

  .picture{
   width: 100%;
  }