
body{
  font-family: 'Lobster', cursive;
  background-image: url("https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.img{
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #routinesContainer{
    height: 300px;
    width: 700px;
    border: 5px solid #90e0ef;
    border-radius: 30px;
    overflow: scroll;
    margin: 10px;
    background-color: #eac1a45d;
  }

  #container{
    overflow: scroll;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .picture{
   width: 100%;
  }

  #title{
    font-size: 50px;
    margin-right: 100px;
  }

  .text{
    color: #90e0ef;
    text-decoration: none;
    font-size: 30px;
  }

  button{
    border-radius: 30px;
    background-color: #90e0ef;
    padding: 5px;
    margin: 5px;

  }

  input{
    margin: 5px;
    border-radius: 10px;
    padding: 5px
  }

  .welcome{
    color: #f7e1d7;
  }

#registerImg{
    margin-left: 100px;
    border: 10px solid black;
  }

  #loginImg{
    border: 10px solid black;
  }

  select{
    width: 300px;
  }
  .AllRoutines{
    font-size: 45px;
    color:#f7e1d7;
    text-align: center;
  }
