body{
  font-family: 'Lobster', cursive;
  background-image: url("https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
}
.img{
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #routinesContainer{
    height: 200px;
    width: 700px;
    /* align-content: center; */
    border: 1px solid black;
    overflow: scroll;
    margin: auto;
  }

  #container{
    overflow: scroll;
    /* border: 5px solid red; */
    height: 650px;
  }

  .picture{
   width: 100%;
  }

  #title{
    font-size: 50px;
  }

  .text{
    color: #90e0ef;
    text-decoration: none;
    font-size: 30px;
  }

  button{
    border-radius: 30px;
    background-color: #90e0ef;
    padding: 5px;
    margin: 5px;

  }

  input{
    margin: 5px;
    border-radius: 10px;
    padding: 5px
  }

  .welcome{
    color: #f7e1d7;
  }

#registerImg{
    margin-left: 100px;
    border: 10px solid black;
  }

  #loginImg{
    border: 10px solid black;
  }

  select{
    width: 300px;
  }